body {
	font-family: Arial, sans-serif;
	font-size: 15px;
	color: white;
	padding: 20px;
	background-color: #222222;
}

button {
	border-radius: 3px;
	background-color: red;
	border: 0;
}

.x-button {
	padding: 5px;
	float: right;
}

textarea, input {
	background-color: transparent;
	border-radius: 10px;
	border-color: red;
	border-width: 4px;
	outline: 0;
	padding: 8px;
}

input {
	border-radius: 5px;
	border-width: 2px;
	padding: 2px;
	margin: 3px;
}

a:link, a:visited {
	color: rgb(255, 39, 39);
}

a:hover {
	color: rgb(255, 80, 80);
}

a:active {
	color: rgb(170, 0, 0);
}

.hr2, .hr1 {
	margin-top: 30px;
	margin-bottom: 30px;
	border: 3px solid red;
	border-radius: 2px;
}

.hr1 {
	border: 1.5px solid red;
	border-radius: 1px;
	margin-right: 70%;
}

.post-frame {
	margin-top: 20px;
	background-color: #202020;
	border-radius: 10px;
	border-left: 10px solid red;
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.com-frame {
	padding: 20px;
	margin-top: 20px;
	background-color: #2a2a2a;
	border-radius: 10px;
}

.post-title {
	word-wrap: break-word;
	font-weight: bold;
	margin-bottom: 15px;
	color: #ff7247;
	font-size: 25px;
}

.post-body {
	word-wrap: break-word;
	margin-bottom: 10px;
}

.post-info {
	color: #888;
	font-size: 20px;
	bottom: 5px;
}

.post-info span {
	margin-right: 10px;
}

.post-info i {
	font-size: 20px;
	transform: translateY(3px);
}

.post-info i:hover {
	color: red;
}

.com-post textarea {
	width: -webkit-fill-available;
}

.post-coms {
	overflow-y: scroll;
	transition: .3s;
}